* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: #bbbbbb;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


/* Header */

#banner {
    height: 80px;
}

#banner-logo {
    vertical-align: middle;
    margin-left: 20px;    
    /* padding-top: 10px; */
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 2.5rem;
    font-weight:900;
}

/* Main  */

.button-section {
    height: 60px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.buttons-style {
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    vertical-align: middle;
    margin-left: 10px;
    
}

#add-task {
    margin-left: 30px;    
    background-color: #1e90ff;
}

#add-section {
    border: 1px solid #8090b5;
    color: #8090b5;    
}


/* Utilities */

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}