* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: #bbbbbb;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


/* Header */

#banner {
    height: 80px;
}

#banner-logo {
    vertical-align: middle;
    margin-left: 20px;    
    padding-top: 15px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 2.5rem;
    padding-top: 15px;
    font-weight:900;
}

/* Main  */

.button-section {
    height: 60px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.buttons-style {
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    vertical-align: middle;
    margin-left: 10px;
    
}

#add-task {
    margin-left: 30px;    
    background-color: #1e90ff;
}

#add-section {
    border: 1px solid #8090b5;
    color: #8090b5;    
}

/* Todolist */

.todolist {
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
}

ul {
    display: inline;
    list-style-type: none;
    /* line-height: 50px; */
}

li {
    margin: 30px 0px 30px 0px
}

.arrow-down {
    font-size: 10px;
    vertical-align:middle;
    padding-left: 3px;
}

.checked {
    color: green;
    font-size: 0.8rem;
    font-weight: lighter;
    border-radius: 50%;
    border: 1px solid green;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding-left: 3px;
}

.crossed {
    color: red;
    font-size: 0.8rem;
    font-weight: lighter;
    border-radius: 50%;
    border: 1px solid red;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding-left: 3px;
}


.tasks-tag {
    border-radius: 30px;
    padding: 5px 10px;
    color: #fff;
    font-size: 0.7rem;
}

li{
    font-weight: lighter;
}

/* Utilities */

.editorial {
    background-color: #45abea;
}
.editorial::before {
    content: "Editorial";
}

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.separator  {
    height: 2px;
}

.bolder {
    font-weight: 600;
    font-size: 1.2rem;
}


/* Tasks Tags  */


.mobile {
    background-color: #f29e33;
}
.mobile::before {
    content: "Mobile";
}


.sales {
    background-color: #b0c926;
}
.sales::before {
    content: "Sales";
}


.recruiting {
    background-color: #64c0a9;
}
.recruiting::before {
    content: "Recruiting";
}


.q1-goals {
    background-color: #9c72e4;
}
.q1-goals::before {
    content: "Q1-goals";
}


.website {
    background-color: #d863a1;
}
.website::before {
    content: "Website";
}

